name: PR Labeler

on:
  - pull_request_target

jobs:
  label:
    name: Label PR
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Label based on files changed
        uses: actions/labeler@v5
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/labeler.yml
